target/classes/example/demo/Estudiante.class
target/classes/example/demo/Grupo.class
target/classes/example/demo/Materia.class
target/classes/example/demo/Nota.class
target/classes/example/demo/Repo_Materias.class
target/classes/example/demo/RepoEstudiantes.class
target/classes/example/demo/RepoGrupos.class
target/classes/example/demo/RepoNotas.class
target/classes/example/demo/Materia.class
target/classes/example/demo/Repo_Materias.class
